# Django #
*.log
*.pot
*.pyc
pycache
db.sqlite3
media
backend/venv/
# If you are using PyCharm #
# User-specific stuff
.idea//workspace.xml
.idea//tasks.xml
.idea//usage.statistics.xml
.idea//dictionaries
.idea/**/shelf
.idea/
